#main
  %div.main_container
    %h2 Create New Recipe
    = form_for Recipe.new do |f|
      = render "create_update_form", f: f

      %br
      %br
      %div= submit_tag "Create Recipe", :class => 'btn btn-info'
