#main
  %table.recipes_table
    %caption
      Recipe details for
      %span.recipe= @recipe.name

    %tr.recipe_header
      %th Description
      %th Time
      %th Price

    %tr.product
      %td.recipedesc= @recipe.directons
      %td.recipetime= @recipe.cuisine
      %td.productprice= r@ecipe.calories

  =link_to("Back to recipe list", recipes_path)
