// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main_container {
  padding: 30px;
  font-family: sans-serif;
}

.flexbox {
  display: flex;
}
.recipes {
  flex-direction: column;
}
.recipe_container {
  text-align: center;
}

.search_box {
  position: absolute;
  right: 0;
  padding: 30px;
}
