="Reviewed by #{User.find(review.user_id).username}"
%br
=review.description
%br
-(0...review.rating).each do |i|
  =image_tag "gold-star.png", width: 18
-(review.rating...5).each do |i|
  =octicon("star")
%br
%br
